
<!-- Footer ================================================== -->


<div id="footer">
	  <!-- Main -->
	  <div class="container">
		    <div class="row">
			      <div class="col-md-5 col-sm-6">
				        <h4>About</h4>
				        <p>Passionate Technical Lead and Software developer <br/>Helping great people deliever great software</p>
				        <a href="https://www.linkedin.com/in/luissantos87/" class="button social-btn"><i class="fa fa-linkedin"></i> Connect with me on LinkendIn</a>
			      </div>

			      <div class="col-md-4  col-sm-6">
				        <h4>Helpful Links</h4>
				        <ul class="footer-links">
                    {{ range .Site.Menus.footer }}
                    <li><a  href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
				        </ul>
			      </div>		

			      <div class="col-md-3  col-sm-12">
				        <h4>Contact Me</h4>
				        <div class="text-widget">
					          E-Mail:<span> luis@luissantos.pt </span><br>
				        </div>
			      </div>

		    </div>
		    
		    <!-- Copyright -->
		    <div class="row">
			      <div class="col-md-12">
				        <div class="copyrights">©  Copyright 2020 by <a href="#">Luis Santos</a>. All Rights Reserved.</div>
			      </div>
		    </div>

	  </div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


<!-- Scripts
     ================================================== -->
<script type="text/javascript" src="/v2/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/v2/scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="/v2/scripts/counterup.min.js"></script>
<script type="text/javascript" src="/v2/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.sticky-kit.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.twentytwenty.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.event.move.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.photogrid.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.tooltips.min.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.pricefilter.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.stacktable.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.contact-form.js"></script>
<script type="text/javascript" src="/v2/scripts/jquery.jpanelmenu.js"></script>
<script type="text/javascript" src="/v2/scripts/headroom.min.js"></script>
<script type="text/javascript" src="/v2/scripts/modernizr.custom.js"></script>
<script type="text/javascript" src="/v2/scripts/puregrid.js"></script>
<script type="text/javascript" src="/v2/scripts/flexibility.js"></script>
<script type="text/javascript" src="/v2/scripts/custom.js"></script>

</div>
<!-- Wrapper / End -->

</body>
</html>
