<!-- Related Posts -->
<h3 class="headline margin-top-65">Related Posts</h3>

<div class="gutter-30px isotope-three-cols isotope-wrapper no-animation related-posts">

		<div class="isotope-sizer"></div>
		
		<!-- Item -->
		<div class="isotope-item">
				<!-- Post -->
				<div class="post-container">
						<div class="post-img"><a href="blog-contained-single-post.html" class="img-hover"><img src="/v2/images/blog-01-related.jpg" alt=""></a></div>

						<div class="post-content">
							  <!-- Categories -->
							  <ul class="post-categories">
								    <li><a href="#">Technology</a></li>
							  </ul>

							  <!-- Meta -->
							  <div class="meta-tags">
								    <span>August 22, 2016</span>
							  </div>

							  <a href="#"><h3>Snooze-Worthy Watches</h3></a>
							  <p>Vestibulum ligula nunc, rutrum in malesuada vitae sed augue. </p>
						</div>

				</div>
		</div>				

		<!-- Item -->
		<div class="isotope-item">
				<!-- Post -->
				<div class="post-container">
						<div class="post-img"><a href="blog-full-width-single-post.html" class="img-hover"><img src="/v2/images/blog-02-related.jpg" alt=""></a></div>

						<div class="post-content">
							  <!-- Categories -->
							  <ul class="post-categories">
								    <li><a href="#">Traveling</a></li>
							  </ul>

							  <!-- Meta -->
							  <div class="meta-tags">
								    <span>August 22, 2016</span>
							  </div>

							  <a href="#"><h3>Tips For Newbie Hitchhiker</h3></a>
							  <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque.</p>
						</div>

				</div>
		</div>	

		<!-- Item -->
		<div class="isotope-item">
				<!-- Post -->
				<div class="post-container">
						<div class="post-img"><a href="blog-full-width-single-post.html" class="img-hover"><img src="/v2/images/blog-03-related.jpg" alt=""></a></div>

						<div class="post-content">
							  <!-- Categories -->
							  <ul class="post-categories">
								    <li><a href="#">Lifestyle</a></li>
							  </ul>

							  <!-- Meta -->
							  <div class="meta-tags">
								    <span>August 22, 2016</span>
							  </div>

							  <a href="#"><h3>Vintage and Classic</h3></a>
							  <p>Nam nisl lacus, dignissim ac tristique ligula nunc, rutrum in malesuada. </p>
						</div>

				</div>
		</div>	

</div>

<!-- Related Posts / End -->
