{{ partial "header" . }}



<div id="fullpage" style="height: 100%; position: relative; transform: translate3d(0px, 0px, 0px); transition: all 700ms ease 0s;" class="fullpage-wrapper">



<div class="section fp-section fp-table active fp-completely" data-background-color="#7e29c4" style="background: rgb(126, 41, 196) none repeat scroll 0% 0%;">
    <div class="fp-tableCell">

		    <!-- Inner Section-->
		    <section class="white-text margin-top-30" >
			      <div class="container">

				        <div class="row">

					          <!-- Text Block -->
					          <div class="col-md-4">
						            <h2 class="section-title margin-bottom-40"><strong>Leader <br/> Software Developer <br/> and Software architect</strong></h2>
					          </div>	
					          
					          <!-- Icons -->
					          <div class="col-md-8">
						            
						            <div class="row">	
							              <div class="col-md-6 col-sm-6">
								                <div class="icon-box-3">
									                  <i class="ln  ln-icon-Coding"></i>
									                  <h4>Development</h4>
									                  <p>More than a decade of experience in software development. Experience with languages such as:
                                        Java, Javascript, PHP, Bash, and Clojure.</p>
								                </div>
							              </div>

							              <div class="col-md-6 col-sm-6">
								                <div class="icon-box-3">
									                  <i class="ln" style="margin:0;" >
                                        <img height="50" src="/logos/kubernetes.png"/>
                                    </i>
									                  <h4>Kubernetes</h4>
									                  <p>Several years of experience in deploying container technologies in the cloud.</p>
								                </div>
							              </div>
						            </div>

						            <div class="row">
							              <div class="col-md-6 col-sm-6">
								                <div class="icon-box-3">
									                  <i class="ln  ln-icon-Loop"></i>
									                  <h4>Scrum and Agility</h4>
									                  <p>Experience in working with agile teams in organization of different types.</p>
								                </div>
							              </div>

							              <div class="col-md-6 col-sm-6">
								                <div class="icon-box-3">
									                  <i class="ln  ln-icon-Cloud-Lock"></i>
									                  <h4>Cloud Platforms</h4>
									                  <p>Experienced on cloud platforms such as: Amazon AWS or Microsoft Azure.</p>
								            </div>
							          </div>
						        </div>

						        <div class="row">
							          <div class="col-md-6 col-sm-6">
								            <div class="icon-box-3">
									              <i class="ln ln-icon-Business-ManWoman"></i>
									              <h4>Team Leader</h4>
									              <p>Experience leading small agile teams to deliever sustainable software on time.</p>
								            </div>
							          </div>

							          <div class="col-md-6 col-sm-6">
								            <div class="icon-box-3">
									              <i class="ln  ln-icon-Cube-Molecule2"></i>
									              <h4>Architecture</h4>
									              <p>Experience with architecting systems that match the business requirements and team abilities</p>
								            </div>
							          </div>
						        </div>
					      </div>
					      <!-- Icons / End -->

				    </div>

			  </div>
		</section>
		<!-- Inner Section Section / End -->

    </div>

</div>

</div>

{{ partial "footer" . }}
